<div id="wrapper">
	<div class="white">
		<h2 data-ng-if="proposal.proposal_type_id == 1">BRISTON PROPOSALS</h2>
		<h2 data-ng-if="proposal.proposal_type_id == 2">BOSS PROPOSALS</h2>
		<br/>
		<div class="textright right">
			<a href="#/"><input type="button" value="Choose Proposal Type"></a> 
			<input type="button" value="Add Proposal" data-ng-click="show_modal()">
		</div>
		<div class="textleft left" style="margin-bottom:5px;">
			Filter: <select data-ng-model="filter" data-ng-change="fetch_proposals()"
			                data-ng-disabled="loader_fetch_proposal">
						<option>New</option>
						<option>Old</option>
	     			</select>
	     	<img src="images/ajax-loader.gif" data-ng-if="loader_fetch_proposal"/>
		</div>
		<div class="clear"></div>
		<table class="table">
			<colgroup width="300"/>
			<colgroup width="300"/>
			<colgroup width="200"/>
			<colgroup width="200"/>
			<thead>
				<tr>
					<td>File Name</td>
					<td>Client Name</td>
					<td>Submission Date</td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="p in proposals track by $index">
					<td><a href="#/edit/{{ p.id }}">{{ p.title }}</a></td>
					<td>{{ p.client_name }}</td>
					<td>{{ p.submission_date }}</td>
				</tr>
				<tr data-ng-if="!proposals && !loader_fetch_proposal">
					<td class="error textcenter" colspan="3">No proposals found.</td>
				</tr>
				<tr data-ng-if="loader_fetch_proposal">
					<td class="textcenter" colspan="3">Fetching Proposals.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="modal" class="create_modal">
	<div class="title">Add Proposal</div>
	<div class="body">
		<span id="createpropsal_message"></span>
		<form id="form_createproposal">
			<span data-ng-if="error" class="error">Please answer all the fields<br/><br/></span>
			File Name <span class="error">*</span><br/>
			<input type="text" data-ng-model="proposal.title" class="long">
			<br/><br/>
			Client Name <span class="error">*</span><br/>
			<input type="text" data-ng-model="proposal.client_name" class="long">
			<br/><br/>
			Submission Date <span class="error">*</span><br/>
			<input type="text" data-ng-model="proposal.submission_date" class="long" datepicker="submission_date" readonly=true format="dd, mon yyyy">
			<br/><br/>
			<input type="button" value="Create Proposal" data-ng-click="create_proposal()" data-ng-disabled="loader_create_proposal">
			<img src="images/ajax-loader.gif" data-ng-if="loader_create_proposal" />
			<a data-ng-click="close_modal()">Close</a>
		</form>
	</div>
</div>